<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All Tests">
        <test name="Chrome UI Tests">
            <parameter name="browser" value="chrome"/>
            <classes>
                <class name="e2e.AuthorizationTest"/>
                <class name="registration.InvalidEmailTest"/>
                <class name="registration.TermsCheckboxTest"/>
                <class name="registration.RequiredFieldsTest"/>
            </classes>
        </test>
</suite>

