<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All Tests">
        <test name="Chrome UI EmailTest">
            <parameter name="browser" value="chrome"/>
            <classes>
                <class name="AuthorizationTest"/>
            </classes>
        </test>
</suite>

